:root {
    font-family: 'Noto Sans', 'Liberation Sans', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    background-image: url("../content/background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0% 50%;
    min-height: 100vh;
}

body {
    margin: 3.5rem 0 0 0;
}

code {
    font-family: ui-monospace, 'Noto Sans Mono', 'Consolas' , 'Courier New', 'Courier', monospace;
}

.header {
    background-color: white;
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top: 0px;
    height: 2em;
    border-bottom: 1px solid grey;
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    line-height: 2em;
}

.header * {
    border-right: 1px solid grey;
    padding-right: 1em;
}

@media screen and (max-width: 30rem) {
    .header *:not(img) {
        padding-right: 0.5em;
    }

    .header a:not(.logo) {
        padding-left: 0.5em;
    }
}

@media screen and (max-width: 25rem) {
    .header a:not(.github-logo-link, .logo) {
        font-size: 0.75em;
    }
}

.header *:hover {
    background-color: darkgrey;
}

.header * img {
    border: none;
    padding-right: 0;
    margin-right: 0;
}

.header a {
    text-align: left;
    color: inherit;
    text-decoration: inherit;
    display: inherit;
    padding-left: 1em;
    white-space: nowrap;
}

.header .logo {
    padding-left: 0;
}

.header img {
    height: 2em;
    width: auto;
}

.header .github-logo {
    height: 1.5em;
}

.header .github-logo-link {
    padding: 0.25em 0.5em;
}

.header .right {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid grey;
}

input,button,select {
    font-size: inherit;
}

input[type=submit] {
    padding: 3px 5px;
}

.tooltip {
    border-bottom: 1px dotted;
    margin-bottom: 5em;
    cursor: help;
}

.centered {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header .active {
    background-color: lightgrey;
}

.header .active:hover {
    background-color: grey;
}

.hidden {
    visibility: hidden;
}

.center-aligned {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.rounded {
    border-radius: 8px;
}

.shadow {
    box-shadow: 5px 5px rgba(0, 0, 0, 50%);
    margin: 5px
}

.bordered {
    border: 1px solid grey;
}

.box {
    background-color: white;
    padding: 0.5em 0.5em;
}

.stack {
    flex-direction: column;
}

.loading-spinner {
    border: 0.3em solid lightgrey;
    border-top: 0.3em solid grey;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}