:root {
    font-family: 'Noto Sans', 'Liberation Sans', 'DejaVu Sans', 'Helvetica', 'Tahoma', 'Arial', sans-serif;
    background-image: url("../content/background.jpg");
    background-size: cover;
    background-repeat: repeat-y;
    background-attachment: fixed;
    background-position: 0% 50%;
    min-height: 100vh;
    color-scheme: light dark;
}

body {
    margin: 3.5rem 0 0 0;
}

code {
    font-family: ui-monospace, 'Noto Sans Mono', 'Consolas' , 'Courier New', 'Courier', monospace;
}

.header {
    background-color: light-dark(white, black);
    overflow: hidden;
    position: fixed;
    width: 100vw;
    top: 0px;
    height: 2em;
    border-bottom: 1px solid light-dark(grey, white);
    font-size: 1.5rem;
    font-weight: bold;
    display: flex;
    line-height: 2em;
}

.header * {
    border-right: 1px solid light-dark(grey, white);
    padding-right: 1em;
}

@media screen and (max-width: 31.25rem) {
    .header *:not(img) {
        padding-right: 0.5em;
    }

    .header a:not(.logo) {
        padding-left: 0.5em;
    }
}

@media screen and (max-width: 27.5rem) {
    .header a:not(.github-logo-link, .logo) {
        font-size: 0.66em;
    }
}

@media screen and (max-width: 22.5rem) {
    .header .right {
        border-left: none !important;
    }
}

.header *:hover {
    background-color: light-dark(darkgrey, #909090);
}

.header * img {
    border: none;
    padding-right: 0;
    margin-right: 0;
}

.header a {
    text-align: left;
    color: inherit;
    text-decoration: inherit;
    display: inherit;
    padding-left: 1em;
    white-space: nowrap;
}

.header .logo {
    padding-left: 0;
}

.header img {
    height: 2em;
    width: auto;
}

.header img:hover {
    background: none;
}

@media (prefers-color-scheme: dark) {
    .header img {
        filter: invert(1);
    }
}

@media (prefers-color-scheme: light) {
    .header img {
        filter: none;
    }
}

.header .github-logo {
    height: 1.5em;
}

.header .github-logo-link {
    padding: 0.25em 0.5em;
}

.header .right {
    margin-left: auto;
    border-right: none;
    border-left: 1px solid light-dark(grey, white);
}

input,button,select {
    font-size: inherit;
}

input[type=submit] {
    padding: 3px 5px;
}

.tooltip {
    border-bottom: 1px dotted;
    margin-bottom: 5em;
    cursor: help;
}

.centered {
    display: flex;
    justify-content: center;
    text-align: center;
}

.header .active {
    background-color: light-dark(lightgrey, grey);
}

.header .active:hover {
    background-color: light-dark(grey, rgb(88, 88, 88));
}

.hidden {
    visibility: hidden;
    display: none;
}

.center-aligned {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.rounded, #results > div {
    border-radius: 8px;
}

.shadow, #results > div {
    box-shadow: 5px 5px rgba(0, 0, 0, 50%);
    margin: 5px
}

.bordered, #results > div {
    border: 1px solid light-dark(grey, white);
}

.box, #results > div {
    background-color: light-dark(white, black);
    padding: 0.5em 0.5em;
}

#results td:nth-of-type(2n+2) {
    text-align: right;
}

#results > div table {
    text-align: initial;
    width: 100%;
}

#results a {
    text-decoration: inherit;
    color: inherit;
}

ins {
    text-decoration: none;
    color: light-dark(crimson, hsl(348, 83%, 57%)); 
}

del {
    color: light-dark(#606060, #9f9f9f);
}

.stack {
    flex-direction: column;
}

.loading-spinner {
    border: 0.3em solid light-dark(lightgrey, darkgrey);
    border-top: 0.3em solid light-dark(grey, white);
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 2s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}